<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Σύνδεση</title>
</head>

<body>

<header layout:fragment="header">
    <h1>StudyRooms <small>/ Σύνδεση</small></h1>
</header>

<section layout:fragment="main">

    <form th:action="@{/login}" method="post">

        <div class="text-center mb-3" th:if="${message}">
            <p class="text-primary" th:text="${message}"></p>
        </div>

        <div class="text-center mb-3" th:if="${error}">
            <p class="text-danger" th:text="${error}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="username" type="text" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label class="form-label">Κωδικός</label>
            <input name="password" type="password" class="form-control" required>
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Σύνδεση</button>
        </div>

        <p><a th:href="@{/register}">Δεν έχετε λογαριασμό; Εγγραφή</a></p>

    </form>

</section>

</body>
</html>
