<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Αποσύνδεση</title>
</head>

<body>

<header layout:fragment="header">
    <h1>StudyRooms <small>/ Αποσύνδεση</small></h1>
</header>

<section layout:fragment="main">

    <form th:action="@{/logout}" method="post">
        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Αποσύνδεση</button>
        </div>

        <p><a th:href="@{/profile}">Προφίλ</a></p>
    </form>

</section>

</body>
</html>
