<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Προφίλ</title>
</head>

<body>

<header layout:fragment="header">
    <h1>StudyRooms <small>/ Προφίλ</small></h1>
</header>

<section layout:fragment="main">

    <div>
        <div>
            <a th:href="@{/profile}" th:text="'Συνδεδεμένος ως: ' + ${me.emailAddress()} + ' (' + ${me.type()} + ')'"></a>
        </div>

        <hr>

        <ul>
            <li>
                <a th:href="@{/profile}">Προφίλ</a>
            </li>
            <li>
                <a th:href="@{/bookings}">Οι κρατήσεις μου</a>
            </li>
            <li sec:authorize="hasRole('STAFF')">
                <a th:href="@{/staff/rooms}">Διαχείριση χώρων μελέτης</a>
            </li>
            <li>
                <a th:href="@{/logout}">Αποσύνδεση</a>
            </li>
        </ul>
    </div>

</section>

</body>
</html>
